<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="bot_key" value="" />
		<add key="BinaryLocation" value=".local-chrome\chrome.exe" />
		<add key="DriverLocation" value=".local-chrome\chromedriver.exe" />
	</appSettings>
	<system.net>
		<defaultProxy enabled="false">
			<proxy autoDetect="False" proxyaddress="http://127.0.0.1:8888" />
		</defaultProxy>
		<settings>
			<servicePointManager checkCertificateRevocationList="false" checkCertificateName="false" />
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
		<connectionManagement>
			<add address="*" maxconnection="50" />
		</connectionManagement>
	</system.net>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-106.11.7.0" newVersion="106.11.7.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>