<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="bot_key" value="384005545:AAGexlp9yn6gvUYCf56Kzkk77Xknyl9w2v0" />
 </appSettings>
	<system.net>
		<defaultProxy enabled="false">
			<proxy autoDetect="False" proxyaddress="http://127.0.0.1:8888" />
		</defaultProxy>
		<settings>
			<servicePointManager checkCertificateRevocationList="false" checkCertificateName="false" />
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
		<connectionManagement>
			<add address="*" maxconnection="50" />
		</connectionManagement>
	</system.net>
</configuration>